.generalCaption {
    color: $darkColor;
    font-family: $Averin;
    font-size: 72px;
    font-weight: 700;

    &_positionGenPage {
        margin-bottom: 70px;
    }
}

.button {
    border-radius: 40px;
    box-shadow: 2px 5px 5px #ccc;
    background-color: $buttonColor;
    color: $darkColor;
    font-family: $appleFont;
    font-size: 36px;
    font-weight: 400;
    padding: 10px 90px;

    &:hover {
        cursor: pointer;
        color: $darkColor;
    }

    &:active {
        box-shadow: none;
        color: $darkColor;
    }
}
