.generalCaption {
    color: $darkColor;
    font-family: $Averin;
    font-size: 72px;
    font-weight: 700;

    &_positionGenPage {
        margin-bottom: 70px;
    }

    @include media-breakpoint-down-xg {
        font-size: 58px;
        margin-bottom: 40px;
    }
}

.menu {

    font-family: $Averin;
    font-size: 35px;
    font-weight: 700;
    position: fixed;
    right: 0;

    &__item {
        list-style-type: none;
        display: inline-block;
        float: right;
    }

    &__link {
        color: $grayColor;
        display: block;

        &:hover {
            cursor: pointer;
            color: darken($grayColor, 10%);
        }

        &_position {
            padding: 0 125px;

            @include media-breakpoint-down-xg {
                padding: 0 50px;
            }

            @include media-breakpoint-down(lg) {
                padding: 0 30px;
            }

            @include media-breakpoint-down(md) {
                padding: 0 20px;
            }
        }
    }

    //Модификаторы
    &_position {
        margin: 20px 0;
        @include media-breakpoint-down(md) {
            position: relative;

        }

    }
}

.button {
    border-radius: 40px;
    box-shadow: 2px 5px 5px #ccc;
    background-color: $buttonColor;
    color: $darkColor;
    font-family: $appleFont;
    font-size: 36px;
    font-weight: 400;
    padding: 10px 90px;

    &:hover {
        cursor: pointer;
        color: $darkColor;
    }

    &:active {
        box-shadow: none;
        color: $darkColor;
    }

    @include media-breakpoint-down-xg {
        padding: 5px 40px;
    }
}
